@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400i');


*{
  font-family: 'Sorts Mill Goudy', serif;

}

.jumbotron {
   background-image: url("https://images.pexels.com/photos/248159/pexels-photo-248159.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
   background-size: cover;
   height: 50vh;
   
}

body{
   background-color:rgb(199, 199, 196); 
   overflow-y: scroll;
    overflow-x: hidden;
}

.container{
   margin-top: 13px;
}
footer{
   text-align: center;
   color: black;
   margin: 20px;
    
}
.hr{
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 1px black;

}
.card-deck .card-img-top:hover{
  opacity: 0.7;

}
.card-body{
  background-color: white;
  border: 0;
  
}
.card{
  margin: none;
}
h3 {
  color: white;
  font-size: 50px;
}
span{
  font-size:25px;
  color: white;
}
p{
  font-size: 20px;
}
h5 {
  font-weight: 600;
  color: blue;
}

#more-info{
  font-weight: 400;
  color: blue;
  text-align: center;
}
a{
  float: left;
}
a:hover {
  color: hotpink;
  text-decoration: none;
}
