/* CSS STYLES FOR INDEX FILE  */
/* CSS STYLES FOR INDEX FILE  */
/* CSS STYLES FOR INDEX FILE  */
body {
  background-color: #eee !important;
}

#album-bg{
  background-color: #eee;
}

.jumbotron{
  background-color: #666 !important;
  border-radius: 0px !important;
  color: white;
  
}
.jumbotron p:last-child {
  margin-bottom: 0;
}

#title-1{
   font-size: 15px;
 }
#title{
   font-size: 40px;
 }


.jumbotron .container {
  max-width: 100rem;
  
}

#home-btn:hover{
    color: rgb(236, 15, 45);
 }

#my-face{
  cursor: default;
  font-weight: none;
 }

footer {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background: #999999;
}

footer p {
  margin-bottom: .25rem;
  text-align: center !important;
  color: black;
}

/*fa fa icons*/

.icons-social i{
  padding: 8px;
  font-size: 20px;

}

.icons-social a{
  margin: 9px;
  color: blue;
}

.icons-social a:hover{
  color: rgb(236, 15, 45);
  text-decoration: none;
}

#p-text{
  text-align: center;
  font-size: 30px;
  color: black !important;
}

.list-unstyled li a:hover{
   color: rgb(236, 15, 45) !important;
   text-decoration: none;
 }

img{
  margin-right: 10px;
}

.bg{
   background-color: #666  !important;
}

.navbar{
  background-color: #666 !important;
}

.card-img-top:hover {
  opacity: 0.7;
}
